<!DOCTYPE html>
<html>
  <head>
    <title>Blog App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link active" href="#">Home</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#">Login</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#">Logout</a>
    </nav>
    <div class="container">

      <%= yield %>
    </div>
  </body>
</html>
